/**
*		Variables.SCSS
*		This file is to register and set all sitewide variables
*/

/**
*		Colors
*/
//	GREEN
$color_green-light: #a4c256;
$color_green-medium: #2a6e43;
$color_green-dark: #1d5833;

//	GREY
$color_grey: #58585a;
