/**
*		Site.SCSS
*		This file gathers and imports all SCSS files found in Site
**/
@import  "variables";
@import "mixins";
@import "typography";
@import "images";
@import "navigation";


/**
*		MISC Site SCSS
*		These elments are needed, but do not yet have a common grouping
*/

/**
* REMOVED ITEMS
*/

.eltd-blog-like,
.eltd-post-info-comments-holder {
	display: none !important;
}

// Backgrounds
.background-green-light {
	background-color: $color_green-light !important;
}

.background-green-medium {
	background-color: $color_green-medium !important;
}

.background-green-dark {
	background-color: $color_green-dark !important;
}

.white-bg-hover:hover {
	background: #ffffff !important;
	color: $color_grey !important;
}

// Accordians
.eltd-accordion-holder {
	.eltd-title-holder {
		background-color: $color_green-light !important;
	}

	.eltd-title-holder.ui-state-active,
	.eltd-title-holder.ui-state-hover {
		background-color: $color_green-medium !important;
	}
}
